{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="content">
        <section class="section">
            <h2 class="title">403: forbidden</h2>
            <h3 class="title">You don't have permission to do that</h3>
        </section>
    </div>
</div>
{% endblock %}