{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="content">
        <section class="section">
            <h2 class="title">404: page not found</h2>
        </section>
    </div>
</div>
{% endblock %}