{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block head-title %}SGT Geosites Project{% endblock %}</title>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        {% load django_simple_bulma %}
        {% bulma %}
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.0.0/animate.min.css"/>
        <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/@creativebulma/bulma-badge@1.0.1/dist/bulma-badge.min.css">
        <link rel="icon" type="image/x-icon" href="https://www.scottishgeologytrust.org/wp-content/uploads/2020/10/cropped-sgt-logo-marque-512-32x32.jpg">
        <link rel="stylesheet" href="{% static 'geosites_app/css/bulma-tooltip.min.css' %}" />
        <script src="https://unpkg.com/bulma-toast"></script>
        {% if USE_ANALYTICS %}
        <script async src="https://analytics.umami.is/script.js" data-website-id="6e3c775a-91ac-469f-b5da-30bec33d961b"></script>
        {% endif %}
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-menu">
                <div class="navbar-start">
                    {% block back_button %}
                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="{% url 'map' %}" class="button">
                              <span class="icon">
                                <i class="las la-arrow-left"></i>
                              </span>
                              <span>Back to map</span>
                            </a>
                          </div>
                    </div>
                    {% endblock %}
                    <div class="navbar-item">
                        {% block heading %}
                        {% endblock %}
                    </div>
                    <div class="navbar-item">
                      {% block subheading %}
                      {% endblock %}
                  </div>

                </div>
              <div class="navbar-end">
                {% block end_buttons %}
                {% endblock %}
                {% block login_button %}
                <div class="navbar-item">
                    {% if user.is_authenticated %}
                    <div class="buttons has-addons">
                      <a href="{% url 'view_account' user.id %}" class="button">
                        <span class="icon">
                          <i class="las la-user-circle"></i>
                        </span>
                        <span>{% include 'geosites_app/components/user_name.html' %}</span>
                      </a>
                      <a href="{% url 'logout' %}" class="button">
                        Log out
                      </a>
                    </div>
                    {% else %}
                  <div class="buttons">
                    <a href="{% url 'login' %}" class="button">
                      <strong>Log in</strong>
                    </a>
                  </div>
                  {% endif %}
                </div>
                {% endblock %}
              </div>
            </div>
          </nav>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <script>bulmaToast.toast({
                message: "{{ message | escapejs }}",
                type: "is-{{ message.tags }}",
                position: "top-center",
                animate: { in: 'fadeIn', out: 'fadeOut' },
                duration: 5000
              })</script>
              {% endfor %}
          </ul>
          {% endif %}
          {% block main %}
          {% endblock %}
    </body>
</html>