{% extends "base.html" %}

{% load static %}

{% block head-title %}About &mdash; SGT Geosites Project{% endblock %}

{% block main %}
<div class="container">
    <div class="section">
        <div class="content">
            <h4>About the Scottish Geology Trust Geosites Project</h4>
            <p>Scotland has over 1000 sites that are designated as important for geology and geomorphology at a national or local level. The Scottish Geology Trust’s Geosites project aims to build a map and database for all of these sites, to encourage greater awareness and conservation. You can find out more about the project <a href="https://www.scottishgeologytrust.org/geology/geosites/">here</a>. Geosites project volunteers are adding information and photographs &mdash; <a href="https://www.scottishgeologytrust.org/geology/geosites/#get-involved">get involved</a>.</p>
            <h5>Using the map</h5>
            <p>Select a GCR category of interest to view site locations and zoom in to see site boundaries. Click on a site for more information.</p>
            <h5>Sources of data</h5>
            <p>This website uses and presents data from a variety of sources:</p>
            <ul>
                <li>Information relating to GCR sites is derived from the <a href="https://jncc.gov.uk/our-work/geological-conservation/">GCR site database developed by the Joint Nature Conservation Committee</a></li>
                <li>Site outline geometries of GCR sites in Scotland are provided by the NatureScot <a href="https://sitelink.nature.scot/home">SiteLink database</a></li>
                <li>The basic site information provided by the JNCC database is enhanced by volunteers, who can update and edit the metadata, and add photographs. By contributing to this site, you declare that you have permission to use the content you submit and agree to licence that content under the <a href="https://creativecommons.org/licenses/by-sa/4.0/\">Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)</a> licence.</li>
                <li>Base topographic mapping is provided by the Ordnance Survey © Crown copyright and database rights {{ current_year }}</li>
                <li>Geological overlay data are provided by the British Geological Survey. Contains British Geological Survey materials © UKRI {{ current_year }}</li>
            </ul>
            <h5>See the code</h5>
            <p>The source code is hosted at <a href="https://codeberg.org/dburgess/sgt-geosites">codeberg.org/dburgess/sgt-geosites</a>. Comments and issues are very welcome.</p>
            <hr>
            <p>We are grateful for funding and support for the pilot phase of this project from the following organisations:</p>
            <ul style="list-style-type: none; margin-left: 0;">
                <li><a href="https://geologistsassociation.org.uk/curry/">The Curry Fund of the Geologist's Association</a></li>
                <li><a href="https://geologyglasgow.org.uk/">Geological Society of Glasgow</a></li>
                <li><a href="https://www.edinburghgeolsoc.org/">Edinburgh Geological Society</a></li>
                <li><a href="https://www.qra.org.uk/">The Quaternary Research Association</a></li>
            </ul>
            <img src="{% static 'geosites_app/img/geosites-logo-bar.jpg' %}">
        </div>
    </div>
</div>
{% endblock %}