{% extends "base.html" %}

{% load static %}
{% load thumbnail %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}

{% block head %}
{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}
<style>
    .leaflet-container {
        height: 50vh;
    }
</style>
{% endblock %}

{% block head-title %}Edit {{ geosite.name }} &mdash; SGT GCR sites project{% endblock %}

{% block back_button %}
<div class="navbar-item">
    <div class="buttons">
        <a href="{% url 'geosite_detail' geosite.id %}" class="button">
            <span class="icon">
                <i class="las la-arrow-left"></i>
            </span>
            <span>Back to geosite</span>
        </a>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="container">
    <div class="section">
        <div class="content">
            <h2>Editing {{ geosite.name }}</h2>
            <div class="columns">
                <div class="column">
                    {% crispy geosite_form geosite_form.helper %}
                </div>
                <div class="column">
                    <h5>Site information</h5>
                    {% if not geosite.extra_info.all %}
                        <p>You have not added any site information yet.</p>
                    {% else %}
                        <table class="table is-fullwidth is-hoverable">
                            {% for info in geosite.extra_info.all %}
                                {% if info in extra_info %}
                                    {% with editable=True %}
                                        {% include 'geosites_app/components/site_info_row.html' %}
                                    {% endwith %}
                                {% else %}
                                    {% with editable=False %}
                                        {% include 'geosites_app/components/site_info_row.html' %}
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        </table>
                    {% endif %}
                    <button type="button" class="media-left button js-modal-trigger is-success" data-target="modal-extra-info-new">
                        <span class="icon"><i class="las la-plus"></i></span><span>Add more information</span>
                    </button>
                </div>
            </div>
            <br>
            <h5>Your photographs</h5>
            <div class="columns is-multiline">
                {% for photo in geosite.photographs.all %}
                    <div class="column is-4">
                        {% if photo in photographs %}
                            {% with editable=True %}
                                {% include 'geosites_app/components/site_photo_card.html' %}
                            {% endwith %}
                        {% else %}
                            {% with editable=False %}
                                {% include 'geosites_app/components/site_photo_card.html' %}
                            {% endwith %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <button type="button" class="media-left button js-modal-trigger is-success" data-target="modal-photograph-new">
                <span class="icon"><i class="las la-plus"></i></span><span>Add photograph</span>
            </button>
        </div>
    </div>
</div>
{% crispy extra_info_formset extra_info_formset_helper %}
{% crispy photographs_formset photographs_formset_helper %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
            $el.classList.add('is-active');
            // Hack to make the Leaflet maps load properly...
            window.dispatchEvent(new Event('resize'));
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
    });

    function openTab(id, type) {
        const TABS = ["caption", "location"];

        for (let tab of TABS) {
            document.getElementById(`form-tab-${id}-${tab}`).classList.remove("is-active");
            document.getElementById(`form-tab-${id}-${tab}-content`).setAttribute("style", "display: none;");
        }
        document.getElementById(`form-tab-${id}-${type}`).classList.add("is-active");
        document.getElementById(`form-tab-${id}-${type}-content`).setAttribute("style", "display: block;");

        // Hack to get the maps working properly
        window.dispatchEvent(new Event('resize'));
    }

    function enableDisableLinkField(form_id) {
        if ({{ linkable_info_types | safe }}.includes(document.getElementById(`id_extra_info-${form_id}-type`).value)) {
            document.getElementById(`id_extra_info-${form_id}-link`).disabled = false;
        } else {
            document.getElementById(`id_extra_info-${form_id}-link`).disabled = true;
        }
    }

    // Add the type of info to the form so the server knows what to do with it (in lieu of name attr of submit button)
    function addHiddenElement(form, name) {
        let element = document.createElement("input");
        element.setAttribute("type", "hidden");
        element.setAttribute("name", name);
        form.appendChild(element);
    }

    function deleteExtraInfo(form_id) {
        document.getElementById(`id_extra_info-${form_id}-DELETE`).value = "on";
        let form = document.getElementById("extra-info-form");
        addHiddenElement(form, "edit_extra_info");
        form.submit();
    }

    function deletePhotograph(form_id) {
        document.getElementById(`id_photo-${form_id}-DELETE`).value = "on";
        let form = document.getElementById("photo-form");
        addHiddenElement(form, "edit_photograph");
        form.submit();
    }

    document.addEventListener("DOMContentLoaded", () => {
        const fileInputs = Array.prototype.slice.call(document.querySelectorAll(".file-input"), 0);
        fileInputs.forEach(element => {
            element.addEventListener("change", () => {
                document.getElementById(element.dataset.target).textContent = element.files[0].name;
            });
        });
    });
</script>

{% endblock %}