{% extends "base.html" %}
{% load static %}

{% block head %}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src="{% static 'geosites_app/lib/proj4.js' %}"></script>
<script src="{% static 'geosites_app/lib/proj4leaflet.js' %}"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
<script defer type="text/javascript" src="{% static 'geosites_app/js/geosites.js' %}"></script>
<style>
    #map {
        height: 90vh;
    }
    .marker-class {
        height: 0.8em;
        width: 0.8em;
    }
</style>
{% endblock %}

{% block end_buttons %}
<div class="navbar-item">
    <div class="buttons">
        {% if user_is_staff or user_is_superuser %}
        <a href="{% url 'recent' %}" class="button is-warning">
            <span class="icon">
                <i class="las la-star"></i>
            </span>
            <span>What's new?</span>
        </a>
        {% endif %}
        <a href="{% url 'about' %}" class="button">
            <span>About</span>
        </a>
        <a href="{% url 'list_geosites' %}" class="button">
            <span>List of all GCR sites</span>
        </a>
    </div>
</div>
{% endblock %}

{% block back_button %}
{% endblock %}

{% block heading %}
<a class="navbar-item" href="https://scottishgeologytrust.org"><img src="{% static 'geosites_app/img/SGT-logo.jpg' %}"></a>
<div class="title is-5">Geosites Pilot Project &mdash; Geological Conservation Review (GCR) Sites</div>
{% endblock %}

{% block main %}
<div class="columns mx-1">
    <div class="column">
        <div class="message is-info">
            <div class="message-header">
                <p>About the Geosites Pilot Project</p>
                <button class="delete" aria-label="delete" onclick="this.parentElement.parentElement.parentElement.style.display='none'"></button>
            </div>
            <div class="message-body">
                <p>Scotland has over 1000 sites that are designated as important for geology and geomorphology at a national or local level. The Scottish Geology Trust's Geosites project aims to build a map and database for all these sites, to encourage greater awareness and conservation. Geosites project volunteers are adding information and photographs. <a href="https://www.scottishgeologytrust.org/geology/geosites/">Find out more...</a></p>
            </div>
        </div>
    </div>
</div>
<div class="columns mx-1">
    <div class="column is-two-thirds">
        <div id="map">
        </div>
    </div>
    <div class="column is-one-third">
        <div class="content is-size-6">
            <p style="margin: 0;">
                <strong>Select by GCR category:</strong>
                <ul style="list-style-type: none; padding: 0; margin: 0;">
                    <li>
                        <label class="checkbox">
                            <input type="checkbox" id="checkbox-gmorp" onclick="toggle_layer(this.name)" name="gmorp">
                            1. Geomorphology
                        </label>
                        <div class="marker-class" style="display: inline-block; background:#91b6006e; border:3px solid #91b600;" />
                    </li>
                    <li>
                        <label class="checkbox">
                            <input type="checkbox" id="checkbox-quatg" onclick="toggle_layer(this.name)" name="quatg">
                            2. Quaternary Geology
                        </label>
                        <div class="marker-class" style="display: inline-block; background:#0c5c3d6e; border:3px solid #0c5c3d;" />
                    </li>
                    <li>
                        <label class="checkbox">
                            <input type="checkbox" id="checkbox-strat" onclick="toggle_layer(this.name)" name="strat">
                            3. Stratigraphy and Sedimentary Rocks
                        </label>
                        <div class="marker-class" style="display: inline-block; background:#0088ff6e; border:3px solid #0088ff;" />
                    </li>
                    <li>
                        <label class="checkbox">
                            <input type="checkbox" id="checkbox-paleo" onclick="toggle_layer(this.name)" name="paleo">
                            4. Palaeontology
                        </label>
                        <div class="marker-class" style="display: inline-block; background:#00007d6e; border:3px solid #00007d;" />
                    </li>
                    <li>
                        <label class="checkbox">
                            <input type="checkbox" id="checkbox-igpet" onclick="toggle_layer(this.name)" name="igpet">
                            5. Igneous Rocks
                        </label>
                        <div class="marker-class" style="display: inline-block; background:#ff00006e; border:3px solid #ff0000;" />
                    </li>
                    <li>
                        <label class="checkbox">
                            <input type="checkbox" id="checkbox-stmmg" onclick="toggle_layer(this.name)" name="stmmg">
                            6. Structural and Metamorphic Geology
                        </label>
                        <div class="marker-class" style="display: inline-block; background:#8800ff6e; border:3px solid #8800ff;" />
                    </li>
                    <li>
                        <label class="checkbox">
                            <input type="checkbox" id="checkbox-minrl" onclick="toggle_layer(this.name)" name="minrl">
                            7. Mineralogy
                        </label>
                        <div class="marker-class" style="display: inline-block; background:#ffaa006e; border:3px solid #ffaa00;" />
                    </li>
                    <hr>
                    <li>
                        <label class="checkbox">
                            <input type="checkbox" id="checkbox-photos" onclick="toggle_layer(this.name)" name="photos">
                            Show photographs
                        </label>
                    </li>
                    
                </ul>
            </p>
        </div>
        <div id="geosites-intro-box" class="content is-size-6">
            <hr>
            <p>Select a GCR category of interest to view site locations and zoom in to see site boundaries. Click on a site for more information.</p>
            <hr>
        </div>
        <div id="geosite-attribs-box" class="content" style="display: none;">
            <hr>
            <h4 id="geosite-name"></h4>
            <div class="tags are-small">
                <span class="tag" id="gcrsite-block-name"></span>
                <span class="tag" id="gcrsite-parent-block-name"></span>
            </div>
            <p id="geosite-headline"></p>
            <div class="buttons">
                <a id="gcrsite-detail-link" class="button" href="{% url 'geosite_detail' '0' %}">More information</a>
            </div>
            <hr>
        </div>
    </div>
</div>
<hr>
<div class="columns mx-1">
    <div class="column is-half">
        <div class="box">
            <div class="content">
                <h4>Geoconservation and collecting</h4>
                <div class="content is-size-6 mx-0">
                    <p>Scotland's geosites and valued and important. Many of these sites are protected as Sites of Special Scientific Interest (SSSIs). It is an offence for any person to intentionally or recklessly damage the protected natural features of an SSSI, and this includes unauthorised sample collection.</p>
                    <a href="https://www.nature.scot/doc/guidance-collecting-geological-samples-sites-special-scientific-interest-scotland">Further guidance</a>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-half">
        <div class="box">
            <div class="content">
                <h4>Funding</h4>
                <p>We are grateful for funding and support for the pilot phase of this project from the following organisations:</p>
                <ul style="list-style-type: none; margin-left: 0;">
                    <li><a href="https://geologistsassociation.org.uk/curry/">The Curry Fund of the Geologist's Association</a></li>
                    <li><a href="https://geologyglasgow.org.uk/">Geological Society of Glasgow</a></li>
                    <li><a href="https://www.edinburghgeolsoc.org/">Edinburgh Geological Society</a></li>
                    <li><a href="https://www.qra.org.uk/">The Quaternary Research Association</a></li>
                </ul>
                <img src="{% static 'geosites_app/img/geosites-logo-bar.jpg' %}">
            </div>
        </div>
    </div>
</div>

<script>
    const OS_API_KEY = "{{ OS_API_KEY }}";
    const DETAIL_BASE_URL = "{% url 'geosite_detail' %}";
    const PHOTO_ICON_URL = "{% static 'geosites_app/img/photo-icon.png' %}";
</script>
{% endblock %}
