{% extends "base.html" %}

{% load static %}

{% block head-title %}All sites &mdash; SGT GCR sites project{% endblock %}

{% block end_buttons %}
<div class="navbar-item">
<form action="{% url 'list_geosites' %}" method="get">
  <div class="field has-addons">
    <div class="control {% if query %}has-icons-right{% endif %}">
      <input class="input" name="q" type="text" placeholder="Search..." {% if query %}value={{query}}{% endif %}>
      {% if query %}
      <span class="icon is-small is-right">
        <a class="delete" href="{% url 'list_geosites' %}"></a>
      </span>
      {% endif %}
    </div>
    <div class="control">
      <a class="button"><i class="las la-search"></i></a>
    </div>
  </div>
</form>
</div>
{% endblock %}

{% block main %}
<div class="container">
  <div class="section">
    <div class="content">
      <h4>All GCR sites</h4>
      <div class="row columns is-multiline">
        {% for g in sites_list %}
        <div class="column is-4">
          <a href="{% url 'geosite_detail' g.geosite.pk %}">
            <div class="card">
              {% if g.photo %}
              <div class="card-image">
                <img src="{{ g.photo.file.url }}">
              </div>
              {% endif %}
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-6 no-padding">{{ g.geosite.name }}</p>
                    <div class="tags">
                      <span class="tag">{{ g.geosite.gcrsite.block_name.translation }}</span>
                      <span class="tag">{{ g.geosite.gcrsite.block_name.parent.translation }}</span>
                    </div>
                    {% if not g.geosite.visible %}<span class="tag is-danger">Deleted</span>{% endif %}
                    {% if g.geosite.headline %}<p>{{ g.geosite.headline }}</p>{% endif %}
                  </div>
                </div>              
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class='container'>
  <div class='columns is-mobile is-centered'>
    <div class='column is-10'>
      <nav class="pagination is-right" role="navigation" aria-label="pagination">
        {% if page_obj.has_previous %}
          <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">Previous page</a>
        {% endif %}
        {% if page_obj.has_next %}
          <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Next page</a>
        {% endif %}
        <ul class="pagination-list">
          {% if page_obj.number != 1 %}
          <li><a class="pagination-link" href="?page=1">1</a></li>
          {% endif %}
          {% if page_obj.number != 1 and page_obj.number != 2 and page_obj.number != 3%}
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          {% endif %}
          {% if page_obj.has_previous and page_obj.previous_page_number != 1 %}
          <li><a class="pagination-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
          {% endif %}
          <li><a class="pagination-link is-current" aria-label="{{ page_obj.number }}" aria-current="page">{{ page_obj.number }}</a></li>
          {% if page_obj.has_next and page_obj.next_page_number != page_obj.paginator.num_pages %}
          <li><a class="pagination-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
          {% endif %}
          {% if page_obj.number != page_obj.paginator.num_pages and page_obj.number != page_obj.paginator.num_pages|add:"-1" and page_obj.number != page_obj.paginator.num_pages|add:"-2" %}
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          {% endif %}
          {% if page_obj.number != page_obj.paginator.num_pages %}
          <li><a class="pagination-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>

{% endblock %}
