{% extends "base.html" %}

{% load static %}

{% block head-title %}{{ geosite.name }} &mdash; SGT Geosites Project{% endblock %}

{% block head %}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src="{% static 'geosites_app/lib/proj4.js' %}"></script>
<script src="{% static 'geosites_app/lib/proj4leaflet.js' %}"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
<script defer type="text/javascript" src="{% static 'geosites_app/js/geosite_detail.js' %}"></script>
<style>
  #map {
      height: 50vh;
  }
  .marker-class {
      height: 0.8em;
      width: 0.8em;
  }
</style>
{% endblock %}

{% block main %}
<div class="container">
  <div class="section">
    <div class="columns is-multiline is-centered">
      <div class="columns">
        <div class="column">
          <div class="content">
            {% if user_is_staff or user_is_superuser %}
              <button data-tooltip="Temporarily disabled" href="#" class="button is-warning is-rounded is-disabled" style="float:right;" disabled>
                <span class="icon">
                  <i class="las la-pen"></i>
                </span>
              </button>
            {% endif %}
            {% if user_sitelists %}
              <div class="dropdown is-hoverable mr-4" style="float:right">
                <div class="dropdown-trigger">
                  <button class="button is-rounded" aria-haspopup="true" aria-controls="dropdown-menu" data-tooltip="Lists">
                    <span class="icon"><i class="las la-star"></i></span>
                    <span class="icon is-small">
                      <i class="las la-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu" style="position:absolute; z-index: 1001;">
                  <div class="dropdown-content">
                    {% for sitelist in user_sitelists %}
                      {% if geosite in sitelist.sites.all %}
                        <a href="{% url 'sitelist_remove_site' sitelist.url_slug geosite.id %}" class="dropdown-item">
                          <span><i class="las la-minus mr-2" aria-hidden="true"></i></span>{{ sitelist.name }}
                        </a>
                      {% else %}
                        <a href="{% url 'sitelist_add_site' sitelist.url_slug geosite.id %}" class="dropdown-item">
                          <span><i class="las la-plus mr-2" aria-hidden="true"></i></span>{{ sitelist.name }}
                        </a>
                      {% endif %}
                    {% endfor %}
                    </a>
                  </div>
                </div>
              </div>
            {% endif %}
            <h1>{{ geosite.name }}</h1>
            <div class="tags are-small">
              <span class="tag is-light">{{ geosite.gcrsite.block_name.translation }}</span>
              <span class="tag is-light">{{ geosite.gcrsite.block_name.parent.translation }}</span>
              {% if not geosite.visible %}<span class="tag is-danger">Deleted</span>{% endif %}
            </div>
            {% if geosite.headline %}
            <p><strong>{{ geosite.headline | linebreaks }}</strong></p>
            {% endif %}
            <h4>Site summary</h4>
            <p>{{ geosite.summary | linebreaks }}</p>
          </div>
        </div>
        <div class="column">
          <div id="map" style="z-index: 1000;"">
          </div>
          <br>
          <div class="content">
            <table class="table is-fullwidth is-hoverable">
              <tbody>
              <tr>
                  <td style="vertical-align: middle; text-align: center;"><i class="las la-list" style="font-size: 18pt;"></i></td>
                  <td><b>GCR site number</b></td>
                  <td>{{ geosite.gcrsite.number }}</td>
              </tr>
                <tr>
                <td style="vertical-align: middle; text-align: center;"><i class="las la-book" style="font-size: 18pt;"></i></td>
                <td><b>GCR volume</b></td>
                <td><a href="{{ geosite.gcrsite.block_name.gcr_volume.url }}">{{ geosite.gcrsite.block_name.gcr_volume.title }}</a></td>
              </tr>
              {% if geosite.gcrsite.full_gcr_link %}
              <tr>
                <td style="vertical-align: middle; text-align: center;"><i class="las la-file-alt" style="font-size: 18pt;"></i></td>
                <td><b>Full GCR description</b></td>
                <td><a href="{{ geosite.gcrsite.full_gcr_link }}" target="_blank" rel="noreferrer noopener">{{ geosite.name }}</a></td>
              </tr>
              {% elif geosite.gcrsite.has_national_archive_pdf %}
              <tr>
                <td style="vertical-align: middle; text-align: center;"><i class="las la-file-alt" style="font-size: 18pt;"></i></td>
                <td><b>Full GCR description</b></td>
                <td><a href="https://webarchive.nationalarchives.gov.uk/ukgwa/20180804204252mp_/http://jncc.defra.gov.uk/pdf/gcrdb/GCRsiteaccount{{ geosite.gcrsite.number }}.pdf" target="_blank" rel="noreferrer noopener">{{ geosite.name }}</a></td>
              </tr>
              {% endif %}
              <tr>
                <td style="vertical-align: middle; text-align: center;"><i class="las la-hourglass-half" style="font-size: 18pt;"></i></td>
                <td><b>System</b></td>
                <td>{{ geosite.gcrsite.chrono_unit.translation }}</td>
              </tr>
              <tr>
                <td style="vertical-align: middle; text-align: center;"><i class="las la-border-all" style="font-size: 18pt;"></i></td>
                <td><b>Grid reference</b></td>
                <td>{{ geosite.grid_ref }}</td>
              </tr>
              <tr>
                <td style="vertical-align: middle; text-align: center;"><i class="las la-clipboard-check" style="font-size: 18pt;"></i></td>
                <td><b>SSSI status</b></td>
                <td>{{ geosite.gcrsite.status.translation }}</td>
              </tr>
              </tbody>
            </table>
            <table class="table is-fullwidth is-hoverable">
              {% for info in geosite.extra_info.all %}
                  {% include 'geosites_app/components/site_info_row.html' %}
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    {% if geosite.photographs.all %}
    <br>
    <div class="columns is-multiline">
    {% for photo in approved_photos %}
      <div class="column is-half">
        <div class="tile p-3">
          {% include 'geosites_app/components/site_photo_card.html' %}
        </div>
      </div>
    {% endfor %}
    </div>
    {% endif %}
  </div>
</div>

<script>
  const CURRENT_GEOSITE_ID = {{ geosite.id }};
  const OS_API_KEY = "{{ OS_API_KEY }}";
  const PHOTO_ICON_URL = "{% static 'geosites_app/img/photo-icon.png' %}";
</script> 
{% endblock %}
