{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="container">
    <div class="content">
        <div class="columns">
            <div class="column">
                {% if viewed_user.is_superuser %}<div style="float:right;" class="tag is-warning">Administrator</div>{% endif %}
                <h5><i class="las la-user"></i> {% with viewed_user as user %}{% include 'geosites_app/components/user_name.html' %}{% endwith %}</h5>
                <form method="post">
                    {% csrf_token %}
                    {{ user_form.first_name | as_crispy_field }}
                    {{ user_form.last_name | as_crispy_field }}
                    {{ user_form.email | as_crispy_field }}
                    <br>
                    <button type="submit" class="button is-success">Save</button>
                </form>
            </div>
            <div class="column">
                <h5><i class="las la-key"></i> Change password</h5>
                <a href="{% url 'password_change' %}" class="button">
                    Change password
                </a>
            </div>
        </div>
        <hr>
        <div class="columns">
            <div class="column">
                <h5><i class="las la-list"></i> Site lists</h5>
                {% if sitelists %}
                    {% for sitelist in sitelists %}
                    <div class="card my-5">
                        <div class="card-content">
                            <h5 style="title"><a href="{% url 'sitelist_detail' sitelist.url_slug %}">{{ sitelist.name }}</a></h6>
                            <p>{{ sitelist.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>You do not currently have any site lists</p>
                {% endif %}
                <a href="{% url 'sitelist_new' %}" class="button is-success">New site list</a>
            </div>
            <div class="column">
            </div>
        </div>

    </div>
</div>
{% endblock %}
