{% extends "base.html" %}

{% load static %}

{% block head-title %}Recent changes &mdash; SGT GCR sites project{% endblock %}

{% block main %}
<div class="container">
  <div class="section">
    <div class="content">
      <h4><i class="las la-star"></i> What's new?</h4>
        {% for entry in log_entries %}
          <article class="media">
            <div class="media-content">
              <div class="content">
                {% if entry.entry_type == "extra_info" or entry.entry_type == "photograph" %}
                <p>
                  <strong>{{ entry.user_name }}</strong> <small>{{ entry.date | timesince }} ago</small>
                  <br>
                  <p>Added {{ entry.type }} to <a href="{% url 'geosite_detail' entry.geosite_id %}">{{ entry.geosite_name }}</a></p>
                </p>
                {% elif entry.entry_type == "sitelist" %}
                <p>
                  <strong>{{ entry.user_name }}</strong> <small>{{ entry.date | timesince }} ago</small>
                  <br>
                  <p>Created new list <a href="{% url 'sitelist_detail' entry.slug %}">{{ entry.name }}</a></p>
                </p>
                {% endif %}
              </div>
            </div>
          </article>
          {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
