{% extends "base.html" %}

{% load static %}

{% block head-title %}{{ sitelist.name }} &mdash; SGT Geosites Project{% endblock %}

{% block back_button %}
{% if user_is_owner %}
<div class="navbar-item">
    <div class="buttons">
        <a href="{% url 'view_account' user.id %}" class="button">
            <span class="icon">
            <i class="las la-arrow-left"></i>
            </span>
            <span>Back to profile</span>
        </a>
    </div>
</div>
{% else %}
<div class="navbar-item">
    <div class="buttons">
        <a href="{% url 'map' %}" class="button">
            <span class="icon">
            <i class="las la-arrow-left"></i>
            </span>
            <span>Back to map</span>
        </a>
    </div>
</div>
{% endif %}
{% endblock %}

{% block head %}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src="{% static 'geosites_app/lib/proj4.js' %}"></script>
<script src="{% static 'geosites_app/lib/proj4leaflet.js' %}"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
<script defer type="text/javascript" src="{% static 'geosites_app/js/sitelist_detail.js' %}"></script>
<style>
    #map {
        height: 90vh;
    }
    .marker-class {
        height: 0.8em;
        width: 0.8em;
    }
</style>
{% endblock %}

{% block main %}

<div class="container">
    <div class="content">
        <div class="columns">
            <div class="column">
                <div class="card my-5">
                    <div class="card-content">
                        <h1>
                            {% if user_is_owner %}
                                <a data-tooltip="Edit" href="{% url 'sitelist_edit' sitelist.url_slug %}" class="button is-rounded is-warning" style="float: right;">
                                <span class="icon">
                                    <i class="las la-pen"></i>
                                </span>
                                </a>
                            {% endif %}
                            {{ sitelist.name }}
                        </h1>
                        <ul style="list-style-type: none; margin: 0">
                            <li><i class="las la-user"></i>
                                {% with sitelist.user as user %}{% include 'geosites_app/components/user_name.html' %}{% endwith %}
                            </li>
                        </ul>
                        <br>
                        <p>{{ sitelist.description }}</p>
                    </div>
                </div>
                {% if sitelist.sites.all %}
                    {% for site in sitelist.sites.all %}
                    <div class="card my-5">
                        <div class="card-content">
                            <h3>
                                {% if user_is_owner %}
                                    <a data-tooltip="Remove" href="{% url 'sitelist_remove_site' sitelist.url_slug site.id %}" class="button is-rounded is-light" style="float:right;">
                                        <span class="icon"><i class="las la-times"></i></span>
                                    </a>
                                {% endif %}
                                <a href="{% url 'geosite_detail' site.id %}">{{ site.name }}</a>
                            </h3>
                            <p>{{ site.summary | truncatewords:100 }}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p><em>There are currently no geosites in this list.</em></p>
                    {% if user_is_owner %}<p><em>You can add a site by selecting this list from the drop-down menu <i class="las la-star"></i> on each geosite page.</em></p>{% endif %}
                {% endif %}
            </div>
            <div class="column">
                <div id="map">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const OS_API_KEY = "{{ OS_API_KEY }}";
    const DETAIL_BASE_URL = "{% url 'geosite_detail' %}";
    const PHOTO_ICON_URL = "{% static 'geosites_app/img/photo-icon.png' %}";
    const SITE_LOCATIONS = '{{ site_locations | safe }}'
</script>

{% endblock %}