{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block head-title %}Editing {{ sitelist.name }} &mdash; SGT Geosites Project{% endblock %}

{% block back_button %}
<div class="navbar-item">
    <div class="buttons">
        <a href="{% url 'sitelist_detail' sitelist.url_slug %}" class="button">
            <span class="icon">
                <i class="las la-arrow-left"></i>
            </span>
            <span>Back to list</span>
        </a>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="container">
    <div class="content">
        <div class="columns">
            <div class="column">
                <h5>List properties</h5>
                <form method="post">
                    {% csrf_token %}
                    {{ sitelist_form.name | as_crispy_field }}
                    {{ sitelist_form.description | as_crispy_field }}
                    {{ sitelist_form.url_slug | as_crispy_field }}
                    {{ sitelist_form.published | as_crispy_field }}
                    <br>
                    <div class="buttons" style="justify-content: space-between;">
                        <button type="submit" class="button is-success">
                            <span class="icon">
                                <i class="las la-save"></i>
                            </span>
                            <span>Save</span>
                        </button>
                        <a href="{% url 'sitelist_delete' sitelist.url_slug %}" class="button is-right is-danger">
                            <span class="icon">
                                <i class="las la-trash"></i>
                            </span>
                            <span>Delete list</span>
                        </a>
                    </div>
                    </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}