{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block head-title %}New site list &mdash; SGT Geosites Project{% endblock %}

{% block back_button %}
<div class="navbar-item">
    <div class="buttons">
        <a href="{% url 'view_account' user.id %}" class="button">
            <span class="icon">
                <i class="las la-arrow-left"></i>
            </span>
            <span>Back to profile</span>
        </a>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="container">
    <div class="content">
        <div class="columns">
            <div class="column">
                <h5>List properties</h5>
                <form method="post">
                    {% csrf_token %}
                    {{ sitelist_form.name | as_crispy_field }}
                    {{ sitelist_form.description | as_crispy_field }}
                    {{ sitelist_form.url_slug | as_crispy_field }}
                    {{ sitelist_form.published | as_crispy_field }}
                    <br>
                    <button type="submit" class="button is-success">Save</button>
                    </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}