{% extends "base.html" %}

{% block login_button %}
{% endblock %}

{% block main %}
<div class="container">
    <div class="content">
        <section class="section">
            <form method="post">
                <h4>Log in</h4>
                {% csrf_token %}
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-left">
                        <input class="input {% if form.username.errors %}is-danger{% else %}is-info{% endif %}" type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
                        <span class="icon is-small is-left">
                            <i class="las la-user"></i>
                        </span>
                    </div>
                    {% for error in form.username.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left">
                        <input class="input {% if form.password.errors %}is-danger{% else %}is-info{% endif %}" type="password" name="password" autocomplete="current-password" required id="id_password">
                        <span class="icon is-small is-left">
                            <i class="las la-key"></i>
                        </span>
                    </div>
                    {% for error in form.password.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="help is-danger">
                            <strong>{{ error }}</strong>
                        </div>
                        <br />
                    {% endfor %}
                {% endif %}
                <button class="button is-info" type="submit">Log in</button>
            </form>
            <br>
            <p>Forgotten password? E-mail <a href="mailto:geosites@scottishgeologytrust.org">geosites@scottishgeologytrust.org</a> to request a reset.</p>
        </section>
    </div>
</div>
{% endblock %}