{% extends "base.html" %}

{% block back_button %}
<div class="navbar-item">
  <div class="buttons">
      <a href="{% url 'view_account' user.id %}" class="button">
        <span class="icon">
          <i class="las la-arrow-left"></i>
        </span>
        <span>Back to account</span>
      </a>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="container">
    <div class="content">
        <section class="section">
            <form method="post">
                <h4>Change password</h4>
                {% csrf_token %}
                <div class="field">
                    <label class="label">Old password:</label>
                    <div class="control">
                        <input class="input {% if form.old_password.errors %}is-danger{% else %}is-info{% endif %}" type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
                    </div>
                    {% for error in form.old_password.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="field">
                    <label class="label">New password:</label>
                    <div class="control has-icons-left">
                        <input class="input {% if form.new_password1.errors %}is-danger{% else %}is-info{% endif %}" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                        <span class="icon is-small is-left">
                            <i class="las la-key"></i>
                        </span>
                    </div>
                    {% for error in form.new_password1.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="field">
                    <label class="label">New password confirmation:</label>
                    <div class="control has-icons-left">
                        <input class="input {% if form.new_password2.errors %}is-danger{% else %}is-info{% endif %}" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                        <span class="icon is-small is-left">
                            <i class="las la-key"></i>
                        </span>
                    </div>
                    {% for error in form.new_password2.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="help is-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <button class="button is-info" type="submit">Change password</button>
            </form>
        </section>
    </div>
</div>
{% endblock %}