{% extends "base.html" %}

{% block back_button %}
<div class="navbar-item">
  <div class="buttons">
      <a href="{% url 'view_account' user.id %}" class="button">
        <span class="icon">
          <i class="las la-arrow-left"></i>
        </span>
        <span>Back to account</span>
      </a>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="container">
    <div class="content">
        <section class="section">
            <p>Password successfully changed.</p>
        </section>
    </div>
</div>
{% endblock %}