<div class="field has-addons">
    <p class="control">
        <a class="button is-static">
            {{ prefix }}
        </a>
    </p>
    <p class="control">
        <input class="input" type="text" id="input-prefix-{{ widget.name }}" name="{{ widget.name }}" placeholder="list_url" value="{{ widget.value }}">
    </p>
</div>