{% load thumbnail %}
{% load as_nat_grid %}

<div class="card" id="photo-{{photo.id}}">
    {% if photo.mimetype != 'application/pdf' %}
    <div class="card-image">
        <a href="{{ photo.file.url }}"><img src="{{ photo.file | thumbnail_url:'small' }}" alt="{{ photo.caption }}"></a>
    </div>
    {% else %}
    <div class="card-content pb-0">
        <a href="{{ photo.file.url }}" class="button is-link" target="_blank" rel="noopener noreferrer">
            <span class="icon">
                <i class="las la-external-link-square-alt"></i>
            </span>
            <span>Open PDF</span>
        </a>
    </div>
    {% endif %}
    <div class="card-content">
        <article class="content">
            <strong>{{ photo.type }}</strong>
            <br>
            {% if photo.caption %}<p>{{ photo.caption | linebreaks }}</p>{% else %}<br>{% endif %}
            <ul style="list-style-type: none; margin: 0">
                <li><i class="las la-user"></i>
                    {% with photo.user_entered as user %}{% include 'geosites_app/components/user_name.html' %}{% endwith %}
                </li>
                {% if photo.look_direction %}
                    <li><i class="las la-compass"></i> {{ photo.look_direction | stringformat:"03d" }}&deg;</li>
                {% endif %}
                {% if photo.date %}
                    <li><i class="las la-calendar-alt"></i> {{ photo.date }}</li>
                {% endif %}
                {% if photo.camera_location %}
                    <li><i class="las la-map-marked-alt"></i> {{ photo.camera_location | as_nat_grid }}</li>
                {% endif %}
            </ul>
            {% if editable %}
                <br>
                <button type="button" class="is-right button js-modal-trigger is-warning" data-target="modal-photograph-{{ photo.id }}">
                    <span class="icon"><i class="las la-pen"></i></span>
                </button>
                <p></p>
                <div class="buttons">
                    {% if not forloop.first %}
                    <a href="{% url 'switch_order_photographs' photo.id 'left' %}" class="button is-light" title="Move left">
                        <span class="icon"><i class="las la-arrow-circle-left"></i></span>
                    </a>
                    {% endif %}
                    {% if not forloop.last %}
                    <a href="{% url 'switch_order_photographs' photo.id 'right' %}" class="button is-light" title="Move right">
                        <span class="icon"><i class="las la-arrow-circle-right"></i></span>
                    </a>
                    {% endif %}
                </div>
            {% endif %}
        </article>
    </div>
</div>