<tr>
    <td style="vertical-align: middle; text-align: center;">
        {% if form.errors %}
            <i class="las la-exclamation-triangle" style="font-size: 18pt; color: red;"></i>
        {% elif info.type.code == "ACCSS" %}
            <i class="las la-hiking" style="font-size: 18pt;"></i>
        {% elif info.type.code == "EWISE" %}
            <i class="las la-book-reader" style="font-size: 18pt;"></i>
        {% elif info.type.code == "CONVT" %}
            <i class="las la-exclamation-circle" style="font-size: 18pt;"></i>
        {% elif info.type.code == "GGRAP" %}
            <i class="las la-camera-retro" style="font-size: 18pt;"></i>
        {% elif info.type.code == "SAFTY" %}
            <i class="las la-hard-hat" style="font-size: 18pt;"></i>
        {% elif info.type.code == "HIGLT" %}
            <i class="lar la-star" style="font-size: 18pt;"></i>
        {% elif info.type.code == "GSCNC" %}
            <i class="las la-camera" style="font-size: 18pt;"></i>
        {% elif info.type.code == "SLINK" %}
            <i class="las la-link" style="font-size: 18pt;"></i>
        {% elif info.type.code == "FINFO" %}
            <i class="las la-info" style="font-size: 18pt;"></i>
        {% endif %}
    </td>
    <td style="vertical-align: middle;">
        <p><strong>{{ info.type }}</strong></p>
    </td>
    <td style="vertical-align: middle;">
        {% if info.type.link and info.link %}
            <a href="{{ info.link }}">{{ info.content }}</a>
        {% else %}
            <p>{{ info.content | linebreaks }}</p>
        {% endif %}
    </td>
    {% if editable %}
    <td style="vertical-align: middle;">
        <button type="button" class="button js-modal-trigger is-warning" data-target="modal-extra-info-{{ info.id }}">
            <span class="icon"><i class="las la-pen"></i></span>
        </button>
    </td>
    <td style="vertical-align: middle;">
        <div class="buttons">
            {% if not forloop.first %}
            <a href="{% url 'switch_order_extra_info' info.id 'up' %}" class="button is-light" title="Move up">
                <span class="icon"><i class="las la-arrow-circle-up"></i></span>
            </a>
            {% endif %}
            {% if not forloop.last %}
            <a href="{% url 'switch_order_extra_info' info.id 'down' %}" class="button is-light" title="Move down">
                <span class="icon"><i class="las la-arrow-circle-down"></i></span>
            </a>
            {% endif %}
        </div>
    </td>
    {% else %}
    <td></td>
    <td></td>
    <td></td>
    {% endif %}
</tr>