<input class="file-input" type="file" name="photograph">
<span class="file-cta">
    <span class="file-icon">
    <i class="las la-file-upload"></i>
    </span>
    <span class="file-label">
    Choose a file…
    </span>
</span>