{% load crispy_forms_tags %}

<form id="extra-info-form" method="post">
{% csrf_token %}
{{ formset.management_form }}
{% for form in formset %}
    <div class="modal" id="modal-extra-info-{% if forloop.last %}new{% else %}{{ form.instance.id }}{% endif %}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{% if forloop.last %}Add{% else %}Edit{% endif %} site information</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body" id="modal-extra-info-body">
                {{ form.DELETE.as_hidden }}
                {{ form.id | as_crispy_field }}
                {{ form.type | as_crispy_field }}
                {{ form.content | as_crispy_field }}
                {{ form.link | as_crispy_field }}
                <script>
                    window.addEventListener("load", function() { enableDisableLinkField({{ forloop.counter0 }}) });
                    document.getElementById("id_extra_info-{{ forloop.counter0 }}-type").addEventListener("change", function() { enableDisableLinkField({{ forloop.counter0 }}) });
                </script>
            </section>
            <footer class="modal-card-foot" style="justify-content: space-between;">
                <button class="button is-danger" onclick="deleteExtraInfo({{ forloop.counter0 }})">
                    <span class="icon">
                        <i class="las la-trash-alt" style="font-size: 18pt;"></i>
                    </span>
                    <span>Delete</span>
                </button>
                <button type="submit" name="edit_extra_info" class="button is-success">
                    <span class="icon">
                        <i class="las la-save" style="font-size: 18pt;"></i>
                    </span>
                    <span>Save changes</span>
                </button>
            </footer>
        </div>
    </div>
{% endfor %}
</form>