{% load crispy_forms_tags %}

<form id="photo-form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    <div class="modal" id="modal-photograph-{% if forloop.last %}new{% else %}{{ form.instance.id }}{% endif %}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{% if forloop.last %}Add{% else %}Edit{% endif %} photograph</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body" id="modal-photograph-body">
                <div class="tabs is-centered is-boxed">
                    <ul class="mx-0">
                        <li id="form-tab-{% if form.instance.id %}{{ form.instance.id }}{% else %}new{% endif %}-caption" class="is-active tab" onclick="openTab({% if form.instance.id %}{{ form.instance.id }}{% else %}'new'{% endif %}, 'caption')">
                            <a>
                                <span class="icon is-small"><i class="las la-comment"></i></span>
                                <span>Caption</span>
                            </a>
                        </li>
                        <li id="form-tab-{% if form.instance.id %}{{ form.instance.id }}{% else %}new{% endif %}-location" class="tab" onclick="openTab({% if form.instance.id %}{{ form.instance.id }}{% else %}'new'{% endif %}, 'location')">
                            <a>
                                <span class="icon is-small"><i class="las la-map-marker-alt"></i></span>
                                <span>Location</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="form-tab-{% if form.instance.id %}{{ form.instance.id }}{% else %}new{% endif %}-caption-content">
                    {{ form.DELETE.as_hidden }}
                    {{ form.id | as_crispy_field }}
                    {{ form.file | as_crispy_field }}
                    {{ form.type | as_crispy_field }}
                    {{ form.caption | as_crispy_field }}
                    {{ form.date | as_crispy_field }}
                </div>
                <div id="form-tab-{% if form.instance.id %}{{ form.instance.id }}{% else %}new{% endif %}-location-content" style="display: none;">
                    {{ form.look_direction | as_crispy_field }}
                    {{ form.camera_location | as_crispy_field }}
                    {{ form.camera_location_grid_ref | as_crispy_field }}
                </div>
            </section>
            <footer class="modal-card-foot" style="justify-content: space-between;">
                <button class="button is-danger" onclick="deletePhotograph({{ forloop.counter0 }})">
                    <span class="icon">
                        <i class="las la-trash-alt" style="font-size: 18pt;"></i>
                    </span>
                    <span>Delete</span>
                </button>
                <button type="submit" name="edit_photograph" class="button is-success">
                    <span class="icon">
                        <i class="las la-save" style="font-size: 18pt;"></i>
                    </span>
                    <span>Save changes</span>
                </button>
            </footer>
        </div>
    </div>
    {% endfor %}
</form>